---
layout: default
post_class: post-template page-template
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
    </nav>
    <div class="vertical postvertical">
        <div class="main-header-content inner">
            <a href='{{ site.baseurl }}'>
				<h1 class="page-title">{{ site.name }}</h1>
            </a>
			<h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}

<br /><br />
<span class="subLinks">
<a href="{{ site.baseurl }}/">Beginpagina</a> | 
<a href="{{ site.baseurl }}/now">Now</a> | 
<a href="{{ site.baseurl }}/boeken">Boeken</a> | <a href="./resources">Waardevolle resources</a>  | 
<a href="{{ site.baseurl }}/archief">Archief</a> |  
<a href="{{ site.baseurl }}/over">Over</a>  
</span></h2>

       </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main class="content" role="main">
    <article class="post">
        <!-- <header class="post-header">
            <a id="blog-logo" href="{{site.baseurl}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header> -->

        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
